<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Index</title>
    </head>
    <body>
        <h2>Geef uw klantennummer</h2>
        <form method="post" action="Reserveren">
            <label for="klantnr">Klantnr :</label>
            <input type="text" id="klantnr" name="klantnr" required>
            <input type="submit" name="submit" value="volgend">
        </form>
        <form method="post" action="Registreer">
            <input type="submit" name="submit" value="nieuwe klant">
        </form>
    </body>
</html>