
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registreer</title>
</head>
<body>
    <h2>U bent nog geen klant, gelieve u hieronder te registreren.</h2>
    <form method="post" action="Geregistreerd">
        <label for="klantnaam">Naam :</label>
        <input type="text" id="klantnaam" name="klantnaam">
        <br>
        <label for="klantadres">Adres :</label>
        <input type="text" id="klantadres" name="klantadres">
        <br>
        <label for="postcode">Postcode :</label>
        <input type="text" id="postcode" name="postcode">
        <br>
        <label for="gemeente">Gemeente :</label>
        <input type="text" id="gemeente" name="gemeente">
        <br>
        <input type="submit" name="submit" value="registreer">
    </form>

</body>
</html>
